.stock-container {
  display: flex;
  max-width: 450px;
  text-align: right;
  border-bottom: 1px solid black;
  padding: 10px;
}

#purchase-error {
  width: 90%;
}
#transaction-container {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
}
td,
th {
  border-bottom: 1px solid #999;
  padding: 0.6rem;
}
td.right {
  text-align: right;
}
td.center {
  text-align: center;
}

#portfolio {
  margin-bottom: 20px;
}

#legend {
  text-align: right;
  font-weight: bold;
  padding: 10px;
}

.stock-container .symbol {
  text-align: left;
}

.stock-container .shares {
  text-align: center;
}
.stock-container .symbol,
.stock-container .shares {
  width: 60px;
}

.stock-container .price {
  width: 75px;
}
.stock-container .value {
  width: 100px;
}

#main-view {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  width: 85%;
}

#purchase {
  min-width: 300px;
}
#purchase input {
  width: 95%;
  font-size: 20px;
  padding: 10px;
}
input[type='text'],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #dddddd;
}
input[type='text']:focus,
textarea:focus {
  box-shadow: 0 0 5px black;
  /* padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px; */
  border: 1px solid black;
}

form label {
  display: block;
  margin-top: 10px;
}

#nav-buttons {
  float: right;
}

.nav-button {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  margin: 0 5px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  background-color: white;
  transition: background-color 0.5s ease;
}

.nav-button:hover {
  color: white;
  background-color: black;
}

.nav-button.selected {
  color: white;
  background-color: black;
}

button {
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  color: black;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-top: 15px;
}

button:hover {
  color: white;
  background-color: black;
}

.stock-form {
  padding-bottom: 1.25rem;
}
.stock-form input {
  font-size: 20px;
  padding: 10px;
  margin: 0 0.25rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}

span.footer-link a {
  text-decoration: underline;
  font-style: oblique;
  color: black;
  transition: all 0.5s ease;
}
span.footer-link a:hover {
  color: gray;
  transition: all 0.5s ease;
}

#main-view a,
p a {
  text-decoration: underline;
  font-style: oblique;
  color: black;
  transition: all 0.5s ease;
}
#main-view a:hover,
p a:hover {
  color: gray;
}

.green {
  color: green;
}
.red {
  color: red;
}

.gray {
  color: gray;
}
